*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
}


/* container css  start*/
.container{
    max-width: 80vw;
    margin: auto;
    margin-top: 90px;
}
.topic-2{
    margin: auto;
    margin-bottom: 30px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.chart-group{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-group1{
    width: 23.5vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.s-card{
    background-color: #e5eef3;
    box-shadow:rgba(102, 102, 102, 0.589) 2px 2px 4px;
    width: 100%;
    height: 115px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.s-card-text{
    font-size: 19px;
    line-height: 40px;
    width: 12vw;
}
.s-card-num{
    font-size: 46px;
}
.s-card img{
    margin-right: 2vw;
    width: 6vw;
    height: 6vw;
}

.m-card{
    background-color: #e5eef3;
    box-shadow:rgba(102, 102, 102, 0.589) 2px 2px 4px;
    width: 26vw;
    height: 260px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.m-pei{
    width: 100%; 
    height: 100%;
}
.card1{
    padding:20px;
    background-color: #e5eef3;
    width: 100%;
    height: 380px;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
    margin-bottom: 30px;
}
.chart{
    width: 100%; 
    height: 100%;
}
.s-card2{
    background-color: #e5eef3;
    box-shadow:rgba(102, 102, 102, 0.589) 2px 2px 4px;
    width: 100%;
    height: 260px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5vw;
}
.b-card{
    width: 54vw;
    height: 405px;
    background-color: #e5eef3;
    box-shadow:rgba(102, 102, 102, 0.589) 2px 2px 4px;
}

