*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}


/* container css */
hr{
    border:1px solid #FFD900;
}
table{
    word-break: break-all;
    padding-top: 20px;
    padding-bottom: 15px;
}
.container{
    max-width: 80vw;
    margin: auto;
    margin-top: 100px;
}
.topic-3{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.pic{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.pic img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 20px;
}
.card2{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 15px;
    background-color: #E5EEF3;
    width: 70vw;
    /* box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px; */
}
.card2 table {
    width: 65vw;
}
.w-line {
    padding: 10px 0 20px 0;
}
.w-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 150px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}
.w-content {
    width: 50vw;
    min-width: 200px;
    padding-bottom: 10px;
    padding-right: 20px;
}
/* .intro2{
    width: 50vw;
    flex-wrap: wrap;
} */
.back{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-bottom: 30px;
}
.back-btn{
    width: 8vw;
    height: 30px;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}