*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
li{
    list-style: none;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

.container{
    max-width: 100vw;
}
/* page1 */
.bg{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
    opacity: 0.3;
}
.word{
    color:#0A1C30;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 170px;
}
.line{
    width: 18vw;
    border-bottom: 4px solid #FFD900;
}
.sentence{
    margin-top: 20px;
    margin-left: 3vw ;
    font-size: 25px;
    
}
.page-topic{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px; 
    width:17vw;
    height:60px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}

/* page2 */
.page2{
    width: 100%;
    height: 100vh;
    background-color:#F8F8F8 ;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.professor{
    display:flex;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 25vw;
}
.intro{
    line-height: 45px;
    font-size: 20px;
    width: 40vw;
    margin-left: 5vw;
}
.big{
    font-size: 35px;
    line-height: 50px;
}

/* page3 */
.page3{
    width: 100%;
    height: 100vh;
    background-color: #e5eef3;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.studies{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
}
.card{
    margin-bottom: 50px;
    width: 14vw;
    height: 14vw;
    margin-left:0.5vw ;
    margin-right:1vw ;
    background-color: #0A1C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.card2{
    margin-bottom: 50px;
    width: 14vw;
    height: 14vw;
    margin-left:0.5vw ;
    margin-right:1vw ;
    background-color: #0A1C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 16.5vw;
}
.card img{
    width: 8vw;
    margin-bottom: 10px;
}
.card2 img{
    width: 8vw;
    margin-bottom: 10px;
}


