*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}


/* container css  start*/
.container{
    max-width: 80vw;
    margin: auto;
    margin-top: 90px;
}
.topic-2{
    margin: auto;
    margin-bottom: 60px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.insert{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.insert-btn{
    width: 10vw;
    height: 35px;
    display:inline-flex;
    justify-content:center;
    align-items: center;
    background-color: #FFD900;
    border: 0px;
}
.content-group{
    margin-left:5vw;
}
.panel-group{
    display: inline-flex;
}
.search{
    display: inline-flex;
    width: 55vw;
    height: 50px;
}
.search3{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.search select{
    padding-left: 10px;
    width: 23vw;
    height: 40px;
    border:1px solid #cccc;
    border-radius: 9px;
    font-size: 15px;
}
.search2{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
}
::placeholder{
    color: rgb(182, 180, 180);
}
.search input{
    margin-left: 2vw;
    padding-right:60px;
    padding-left: 10px;
    width: 31vw;
    height: 40px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
#search-pes{
    margin-left: 0;
    width: 100%;
}
.search-btn{
    position:absolute;
    width: 78px;
    height: 40px;
    border: 0px;
    background-color: transparent;
}
.button-image{
    width: 23px;
    height: 23px;
}
.panel-control {
    position:absolute;
    opacity:0;
}
.tab-group{
    width:13vw;
    height: 200px;
}
.tab-group label {
    background-color: white;
    display:inline-flex;
    width: 13vw;
    height: 50px;
    justify-content:center;
    align-items:center;
    /* bottom:-1px; */
    position:relative;
    font-size: 16px;
}
.content{display:none;}
#radio-c:checked ~ .tab-group [for="radio-c"],
#radio-s:checked ~ .tab-group [for="radio-s"],
#radio-p:checked ~ .tab-group [for="radio-p"],
#radio-e:checked ~ .tab-group [for="radio-e"]
{
    background-color: #FFD900;
    font-weight: bold;
}
#radio-c:checked ~ .content-group .content-c,
#radio-s:checked ~ .content-group .content-s,
#radio-p:checked ~ .content-group .content-p,
#radio-e:checked ~ .content-group .content-e
{
    display:block; 
}
.card1{
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e5eef3;
    width: 55vw;
    cursor: pointer;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
}
table{
    table-layout: fixed;
    word-break: break-all;
}
td{
    padding:10px ;
    vertical-align: top;
}
.td-title{
    width: 12vw;
    text-align: right;
}
.td-con{
    width: 12vw;
    text-align: left;
}
.intro{
    width: 38vw;
    padding:10px ;
    flex-wrap: wrap;
}
.intro-block{
    width: 37vw;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
hr{
   border:1px solid #FFD900;
}
.color_transition {
    transition: background-color 0.4s;
  }
  
.color_transition:hover {
background-color: #dce4e9;;
}
