*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    /* font-size: 16px;
    padding-left: 20px;
    padding-right: 20px; */
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrap{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

/* container css  start*/
input{
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
select{
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
}
.title{
    margin: auto;
    margin-bottom: 60px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.setting{
    background-color: #e5eef3;
    margin: auto;
    font-size: 18px;
    padding:20px;
    width: 70vw;
    margin-bottom: 50px;
    /* box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px; */
}
.card2{
    margin: auto;
    display: inline-flex;
    margin-top: 15px;
    padding-bottom: 2vw;
}
.pic{
    margin-right: 3vw;
    margin-left: 2vw;
}
.pic img{
    width: 15vw;
    cursor: pointer;
}
td{
    padding: 10px;
    vertical-align: top ;
}
.t-title {
    display: inline-flex;
    justify-content: flex-end;
    width: 8vw;
}
.t-content {
    width: 10vw;
    display: inline-flex;
    justify-content: flex-start;
}
.skills {
    display: flex;
    /* width: 30vw; */
}
.sks{
    width: 38vw;
    display: inline-flex;
    margin-left:4vw;
    flex-wrap: wrap;
}
.sk label {
    display: inline-flex;
    width: 6vw;
    margin-right: 1vw;
    line-height: 30px;
    word-break: none;
}
.inputbox{
    width: 12vw;
    height: 28px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
    background-color: white;
}
.inputbox2{
    width: 18vw;
    height: 28px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
    background-color: white;
    
}
.inputbox3{
    vertical-align: top;
    width:6vw;
    height: 28px;
    font-size: 15px;
}
.inputbox4{
    vertical-align: top;
    width: 5vw;
    height: 28px;
    font-size: 18px;
    margin-left: 2vw;
}
.save-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    font-size: 16px;
    color: black;
}
.cancel-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #70768B;
    border: 0px;
    color: white;
    font-size: 16px;
}
.back{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}
.back-btn{
    width: 8vw;
    height: 30px;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}
