* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}

body {
    background-color: #F8F8F8;
}

.wrap {
    /* width: 100vw; */
    height: 100vh;
}

/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    margin-top: 90px;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 60px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

/* 側欄 */
.sideBar {
    display: flex;
    flex-direction: column;
    width: 14vw;
    height: 260px;
    background-color: #e5eef3;
    /* z-index: -1; */
}

.chk-condition {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.condition {
    margin: 5px 0px 5px 0px;
}

input[type=checkbox] {
    background-color: #FFD900;
    border: 0;
    border-radius: 0;
    /* display: none; */
}

input[type=checkbox]:checked {
    background-color: #FFD900;
    border: 0;
    border-radius: 0;
    user-select: none;
}

.chk-word, .chk-word option {
    font-size: 18px;
}

select.chk-word {
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
    outline: none;
    width: 9vw;
    height: 30px;
    background-color: white;
}

/* 會員資料區塊 */
.members-data {
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

/* 搜尋列 */
.searchBlock {
    width: 65vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::placeholder {
    color: rgb(138, 138, 138);
    font-size: 15px;
}

.search {
    width: 65vw;
    height: 40px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
    background-color: white;
    padding-left: 10px;
    padding-right: 40px;
    outline: none;
    font-size: 16px;
}

.searchbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    cursor: pointer;
}

.searchbtn img {
    width: 23px;
}

.members {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.member {
    /* margin-right: 1vw; */
    /* margin-bottom: 2px; */
    justify-content: flex-end;
    display: flex;
    width: 32vw;
    height: 200px;
    background-color: #e5eef3;
    margin-bottom: 15px;
    cursor: pointer;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.create img {
    width: 5vw;
    opacity: 0.5;
}

.personal {
    display: flex;
    width: 32vw;
    justify-content: center;
    align-items: center;
}

.person-image {
    display: block;
    width: 8vw;
    height: 8vw;
    min-width: 8vw;
    min-height: 8vw;
    max-width: 10vw;
    max-height: 10vw;
    margin: 50px 30px 50px 30px;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.person-info {
    width: 20vw;
}

td {
    display: flex;
    align-items: center;
    margin-bottom: 0.9vw;
}

td img {
    width: 2vw;
    margin-right: 0.7vw;
}

.t-name {
    font-size: 1.8vw;
    font-weight: bold;
    padding-bottom: 5px;
    
}

.t-main {
    font-size: 2vw;
    font-weight: bold;
    padding-bottom: 5px;
}

span {
    font-size: 1.1vw;
    font-weight: bold;
}

.t-title {
    display: flex;
    padding-bottom: 10px;
    font-size: 1vw;
}



/***** Container END *****/
