* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}

body {
    background-color: #F8F8F8;
}

.wrap {
    width: 100%;
    height: 100vh;
}


/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.top-btn {
    width: 55vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
}

.edit-btn, .del-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    float: right;
}

.edit-btn:after, .del-btn:after {
    display: block;
    padding-bottom: 100%;
}

.edit-btn img, .del-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.personal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 55vw;
    min-height: 24vw;
    background-color: #E5EEF3;
    padding: 4vw;
}

.personal-top {
    display: flex;
    justify-content: center;
}

.person-image {
    display: block;
    width: 13vw;
    height: 13vw;
    min-width: 12vw;
    min-height: 12vw;
    max-width: 13vw;
    max-height: 13vw;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.person-info table {
    display: flex;
    width: 33vw;
    margin-left: 2vw;
}

.personal .t-name {
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
}

.personal .t-name span {
    font-size: 22px;
}

.personal .t-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 100px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}

.personal .t-content {
    width: 30vw;
    min-width: 200px;
    padding-bottom: 10px;
}

.big-content {
    line-height: 30px;
    word-break: break-all;
}

hr{
    border:1px solid #FFD900;
    margin-top: 20px;
    margin-bottom: 20px;
 }

.feedback {

    width: 47vw;
    word-break: break-all;
}

.feedback table {
    width: 47vw;
}

.feedback .f-title {
    display: inline-flex;
    align-items: flex-start;
    width: 5vw;
}
.feedback .f-content {
    display: inline-flex;
    align-items: flex-start;

}

.bottom-btn {
    width: 55vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
}

.back {
    width: 8vw;
    height: 30px;
    background-color: #FFD900;
    border: 0px;
    cursor: pointer;
}


/***** Container END *****/

