* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}

body {
    background-color: #F8F8F8;
}

.wrap {
    width: 100%;
    height: 100vh;
}

/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    margin-top: 60px;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 80vw;
    display: flex;
    justify-content: center;
}


/* 經歷管理 */
.works-data {
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conditionBlock {
    display: flex;
    width: 65vw;
    flex-direction: column;
    justify-content: space-between;
}

.conditionBlock .dropdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.conditionBlock .company-dropdown {
    width: 42vw;
    height: 40px;
    outline: none;
    background-color: white;
    border:1px solid #cccc;
    border-radius: 9px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.conditionBlock .status {
    width: 13vw;
    height: 40px;
    outline: none;
    background-color: white;
    border:1px solid #cccc;
    border-radius: 9px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.conditionBlock .intern {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
    height: 40px;
    outline: none;
}

.conditionBlock .intern label {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 17px;
}

/* 搜尋列 */
.search {
    width: 65vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::placeholder {
    color: rgb(119, 119, 119);
    font-size: 15px;
}

.searchBox {
    width: 65vw;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: white;
    border:1px solid #cccc;
    border-radius: 9px;
    color: white;
    padding-left: 10px;
    padding-right: 40px;
}

.searchbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    cursor: pointer;
}

.searchbtn img {
    width: 23px;
}

.works {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    margin-top: 20px;
    flex-flow: row wrap;
}

.row {
    display: flex;
    width: 65vw;
    justify-content: space-between;
    margin-bottom: 15px;
}

.work {
    /* margin-right: 1vw; */
    /* margin-bottom: 2px; */
    justify-content: flex-end;
    display: flex;
    width: 32vw;
    height: 200px;
    background-color: #e5eef3;
    margin-bottom: 15px;
    cursor: pointer;
}

.personal {
    display: flex;
    width: 32vw;
    align-items: center;
}

.person-image {
    display: block;
    width: 8vw;
    height: 8vw;
    min-width: 8vw;
    min-height: 8vw;
    max-width: 10vw;
    max-height: 10vw;
    margin: 50px 30px 50px 30px;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.t-main {
    font-size: 1.8vw;
    font-weight: bold;
    padding-bottom: 10px;
}

.t-title {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.t-title img {
    width: 2vw;
    margin-right: 0.5vw;
}
.t-content {
    padding-bottom: 10px;
    font-size: 1.2vw;
}

span {
    font-size: 1.1vw;
}

.color_transition {
    transition: background-color 0.4s;
  }
  
.color_transition:hover {
background-color: #dce4e9;;
}
