*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

header{
    align-content:flex-end;
    background-color: #f8f8f8;
    height: 70px;
    padding: 13px 13px 13px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px 0px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 95px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #0A1C2F;
}
.top a, .top a:link, .top a:visited {
    color: #0A1C2F;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.top a:hover {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 35px;
    padding: 5px;
    background-color: #E5EEF3;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header-r text{
    padding-right: 20px;
}
.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}
/* Header css end */



/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 60px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 70vw;
    display: flex;
    justify-content: center;
}


/* 經歷管理 */
.works-data {
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conditionBlock .dropdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.conditionBlock .company-dropdown {
    width: 40vw;
    height: 40px;
    outline: none;
    border:1px solid #cccc;
    border-radius: 9px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.conditionBlock .status {
    width: 15vw;
    height: 40px;
    outline: none;
    border: 0;
    border:1px solid #cccc;
    border-radius: 9px;
    color: rgb(92, 91, 91);
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.conditionBlock .intern {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
    height: 40px;
    outline: none;
}

.conditionBlock .intern label {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 17px;
}

/* 搜尋列 */
.search {
    width: 65vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::placeholder {
    color: rgb(170, 169, 169);
    font-size: 15px;
}

.searchBox {
    width: 65vw;
    height: 40px;
    outline: none;
    border:1px solid #cccc;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 60px;
}

.searchbtn {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.searchbtn img {
    width: 23px;
}

.works {
    /* display: flex;
    justify-content: space-between; */

    width: 65vw;
    margin-top: 20px;
}

.row {
    display: flex;
    width: 65vw;
    justify-content: space-between;
    margin-bottom: 15px;
}

.work {
    /* margin-right: 1vw; */
    /* margin-bottom: 2px; */
    justify-content: flex-end;
    display: flex;
    width: 32vw;
    height: 200px;
    background-color: #e5eef3;
}

.personal {
    display: flex;
    width: 32vw;
    align-items: center;
}

.person-image {
    display: block;
    width: 120px;
    height: 120px;
    margin: 50px 30px 50px 30px;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.edit-btn {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    float: right;
}

.edit-btn:after {
    display: block;
    padding-bottom: 100%;
}

.edit-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* 公司管理 */
.companies-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companies {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 400px;
    background-color: #e5eef3;
    overflow: auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.companies::-webkit-scrollbar {
    width: 5px;
}

.companies::-webkit-scrollbar-track{
    background: white;
}

.companies::-webkit-scrollbar-thumb{
    background: white;
}

.company {
    display: flex;
    width: 50vw;
    /* height: 75px; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.company-edit {
    width: 40vw;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 10px;
}

.del-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.del-btn:after {
    display: block;
    padding-bottom: 100%;
}

.del-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom-btn {
    display: flex;
    width: 25vw;
    justify-content: space-between;
    margin-top: 10px;
}

.save-btn {
    width: 10vw;
    height: 30px;
    background-color: #FFD900;
    border: 0px;
}

.cancel-btn {
    width: 10vw;
    height: 30px;
    background-color: #4A5065;
    border: 0px;
    color: white;
}
