*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

header{
    align-content:flex-end;
    background-color: #f8f8f8;
    height: 70px;
    padding: 13px 13px 13px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px 0px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 95px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #0A1C2F;
}
.top a, .top a:link, .top a:visited {
    color: #0A1C2F;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.top a:hover {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 35px;
    padding: 5px;
    background-color: #E5EEF3;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header-r text{
    padding-right: 20px;
}
.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}
/* Header css end */


/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 60px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.columns {
    display: flex;
    width: 55vw;
    background-color: #4A5065;
}

.column {
    margin: 10px 0px 10px 0px;
}

.column-left {
    display: flex;
    width: 27vw;
    flex-direction: column;
    padding: 3vw 1vw 3vw 3vw;
    align-items: flex-end;
}

.column-right {
    display: flex;
    width: 27vw;
    flex-direction: column;
    padding: 3vw 3vw 3vw 1vw;
    align-items: flex-end;
}

.column-right .column {
    display: flex;
    align-items: flex-start;
}

.select-company {
    width: 15vw;
    height: 28px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 0px 10px 0px 10px;
    margin-left: 10px;
    font-size: 16px;
}

.textBox {
    width: 15vw;
    height: 28px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.big-textBox {
    width: 16vw;
    min-width: 16vw;
    max-width: 16vw;
    height: 300px;
    max-height: 390px;
    min-width: 16vw;
    max-width: 16vw;
    max-height: 390px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 10px;
    margin-left: 10px;
    overflow: auto;
    font-size: 16px;
}

.big-textBox::-webkit-scrollbar {
    width: 5px;
}

.big-textBox::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0);
}

.big-textBox::-webkit-scrollbar-thumb{
    background: white;
}

.bottom-btn {
    display: flex;
    width: 25vw;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 18px;
}

.save-btn {
    width: 10vw;
    height: 30px;
    background-color: #FFD900;
    border: 0px;
    font-size: 18px;
}

.cancel-btn {
    width: 10vw;
    height: 30px;
    background-color: #4A5065;
    border: 0px;
    color: white;
    font-size: 18px;
}

/***** Container END ******/


