*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input{
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
textarea{
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 18vw;
    max-width: 47vw;
    overflow-y: auto;
}
textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track{
   background: rgba(255, 255, 255, 0);
}

textarea::-webkit-scrollbar-thumb{
    background: rgba(180, 180, 180, 0.74); 
}
select{
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
hr{
    border:1px solid #FFD900;
    margin-top: 20px;
    margin-bottom: 20px;
 }
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

header{
    align-content:flex-end;
    background-color: #f8f8f8;
    height: 70px;
    padding: 13px 13px 13px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px 0px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 95px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #0A1C2F;
}
.top a, .top a:link, .top a:visited {
    color: #0A1C2F;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.top a:hover {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 35px;
    padding: 5px;
    background-color: #E5EEF3;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header-r text{
    padding-right: 20px;
}
.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}
/* Header css end */

/* Container css */
table{
    table-layout: fixed;
    word-break: break-all;
    /* display: inline-flex; */
}
td{
    text-align: right;
    vertical-align: top;
    min-width: 120px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}
.container{
    max-width: 80vw;
    margin: auto;
}
.topic-2{
    margin: auto;
    margin-bottom: 20px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.pic{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.pic img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 20px;
}
.card2{
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 15px;
    background-color: #e5eef3;
    width: 70vw;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
}
.center{
    display: flex;
    margin: auto; 
    width:60vw;
    justify-content: space-around;
    
}
.inputbox{
    width: 18vw;
    height: 28px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
.inputbox2{
    vertical-align: top;
    width: 40vw;
    height: 80px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
.inputbox3{
    vertical-align: top;
    width: 8vw;
    height: 28px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
.table2{
    display: inline-flex;
    width: 55vw;
    justify-items: center;
}
.topic3{
    display: inline-flex;
    writing-mode: vertical-lr;
    justify-content: center;
    align-items: center;
    width: 10vw;
    font-size: 30px;
}
.table3{
    margin-left: 4vw;
}
.check{
    margin-right: 1vw;
}
.upload button{
    overflow: hidden;
    background:#D0EEFF;
    border:1px solid #99D3F5;
    border-radius:4px;
}
.down{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.save-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    font-size: 18px;
}
.cancel-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #4A5066;
    border: 0px;
    color: white;
    font-size: 18px;
}