*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

header{
    align-content:flex-end;
    background-color: #f8f8f8;
    height: 70px;
    padding: 13px 13px 13px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px 0px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 95px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #0A1C2F;
}
.top a, .top a:link, .top a:visited {
    color: #0A1C2F;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.top a:hover {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 35px;
    padding: 5px;
    background-color: #E5EEF3;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header-r text{
    padding-right: 20px;
}
.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}
/* Header css end */

/* container css  start*/
.container{
    max-width: 80vw;
    margin: auto;
}
.topic-2{
    margin: auto;
    margin-bottom: 60px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.content-group{
    margin-left:5vw;
}
.panel-group{
    display: inline-flex;
}
.search{
    display: inline-flex;
    width: 55vw;
    height: 50px;
}
.search select{
    padding-left: 10px;
    width: 23vw;
    height: 40px;
    border:1px solid #cccc;
    border-radius: 9px;
    font-size: 15px;
}
.search2{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
}
::placeholder{
    color: rgb(182, 180, 180);
}
.search input{
    margin-left: 2vw;
    padding-right:60px;
    padding-left: 10px;
    width: 31vw;
    height: 40px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
.search-btn{
    position:absolute;
    width: 78px;
    height: 40px;
    border: 0px;
    background-color: transparent;
}
.button-image{
    width: 23px;
    height: 23px;
}
.panel-control {
    position:absolute;
    opacity:0;
}
.tab-group{
    width:13vw;
    height: 200px;
}
.tab-group label {
    background-color: white;
    display:inline-flex;
    width: 13vw;
    height: 50px;
    justify-content:center;
    align-items:center;
    /* bottom:-1px; */
    position:relative;
    font-size: 16px;
}
.insert{
    margin-top: 15px;
    /* 問題：不加下面兩行btn寬度沒有辦法調整 */
    display: flex;
    justify-content: center;
}
.insert-btn{
    width: 12vw;
    height: 38px;
    display:inline-flex;
    justify-content:center;
    align-items: center;
    background-color: #FFD900;
    border: 0px;
}
.content{display:none;}
#radio-c:checked ~ .tab-group [for="radio-c"],
#radio-s:checked ~ .tab-group [for="radio-s"],
#radio-p:checked ~ .tab-group [for="radio-p"],
#radio-e:checked ~ .tab-group [for="radio-e"]
{
    background-color: #FFD900;
    font-weight: bold;
}
#radio-c:checked ~ #btn-s{
    background-color: aqua;
}
#radio-c:checked ~ .content-group .content-c,
#radio-s:checked ~ .content-group .content-s,
#radio-p:checked ~ .content-group .content-p,
#radio-e:checked ~ .content-group .content-e,
#radio-s:checked ~ #btn-s
{
    display:block; 
}
.card1{
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e5eef3;
    width: 55vw;
    cursor: pointer;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
}
table{
    table-layout: fixed;
    word-break: break-all;
}
.pic{
    margin-right: 10px;
    float: right;
}
.pic img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
td{
    padding:10px ;
    vertical-align: top;
}

.intro{
    padding:10px ;

    flex-wrap: wrap;
}
hr{
   border-top:2px solid #FFD900;
}

/* honor-detail  start */
.card2{
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 15px;
    background-color: #e5eef3;
    width: 70vw;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
}
.intro2{
    padding:10px ;
    width: 70vw;
    flex-wrap: wrap;
}
.back{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.back-btn{
    width: 8vw;
    height: 30px;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
}
/* contest-experience */
.topic-3{
    margin: auto;
    margin-bottom: 60px; 
    width:21vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.inputbox2{
    vertical-align: top;
    width: 40vw;
    height: 100px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
.down{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.save-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    font-size: 18px;
}
.cancel-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #4A5066;
    border: 0px;
    color: white;
    font-size: 18px;
}