*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

header{
    align-content:flex-end;
    background-color: #f8f8f8;
    height: 70px;
    padding: 13px 13px 13px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px 0px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 95px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #0A1C2F;
}
.top a, .top a:link, .top a:visited {
    color: #0A1C2F;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.top a:hover {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 35px;
    padding: 5px;
    background-color: #E5EEF3;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header-r text{
    padding-right: 20px;
}
.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}
/* Header css end */

/* container css  start*/
input{
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
select{
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topic-2{
    margin: auto;
    margin-bottom: 60px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.setting{
    background-color: #e5eef3;
    margin: auto;
    font-size: 18px;
    padding:20px;
    width: 70vw;
    margin-bottom: 50px;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
}
.card2{
    margin: auto;
    display: inline-flex;
    margin-top: 15px;
}
.pic{
    margin-right: 3vw;
    margin-left: 2vw;
}
.pic img{
    width: 15vw;
    cursor: pointer;
}
td{
    padding:10px ;
    vertical-align: top;
}
.inputbox{
    width: 15vw;
    height: 28px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
.inputbox3{
    vertical-align: top;
    width: 8vw;
    height: 28px;
    font-size: 15px;
    border:1px solid rgba(219, 218, 218, 0.8);
    border-radius: 9px;
}
.down{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40vw;
    margin-top: 50px;
}
.save-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    line-height: 30px;
    font-size: 18px;
}
.cancel-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #4A5066;
    border: 0px;
    color: white;
    line-height: 30px;
    font-size: 18px;
}
.checkbox{
    margin-left: 30px;
}