*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

header{
    height: 70px;
    align-content:flex-end;
    background-color: white;
    padding: 13px;
    padding-top: 5px;
    margin-bottom: 50px;
    box-shadow:#cccc 0px 0px 4px 0px ;
}
.top{
    vertical-align: center;
    min-width: 1000px;
    max-width: 1600px; 
    position: relative;
    margin: auto;
}
.top ul{
    display: inline-block;
    width: 600px;
}
.top li{
    display: inline-block;
    list-style: none;
    width: 85px;
    font-size: 18px;
}
.top img{
    width: 80px;
    position: relative;
    top:10px;
    margin-right: 15px;
}
.header-r{
    display: inline-block;
    position: absolute;
    top:25px;
    right: 40px;
    vertical-align: bottom;
}
.header-r text{
    padding-right: 20px;
}
.sign-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}

.container{
    width:1060px;
    margin: auto;
}
.topic{
    margin: auto;
    width:220px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
    border-radius: 2px;
    margin-bottom: 60px;
}
.row{
    margin: auto;
    width: 800px;
    height: 200px;
    text-align: center;
    font-size: 28px;
}
.col{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col input{
    border: 1px solid #cccc;
    border-radius: 60px;
    height: 37px;
    width: 280px;
    margin-left: 27px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.submit-btn{
    width: 140px;
    height: 32px;
    font-size: 18px;
    background-color: #FFD900;
    border: 0px;
}