*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:white;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:white;
}
body{
    background-color: #393F4D;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

header{
    align-content:flex-end;
    background-color: #f8f8f8;
    height: 70px;
    padding: 13px 13px 13px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px 0px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 95px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #0A1C2F;
}
.top a, .top a:link, .top a:visited {
    color: #0A1C2F;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.top a:hover {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 35px;
    padding: 5px;
    background-color: #E5EEF3;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header-r text{
    padding-right: 20px;
}
.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}
/* Header css end */

/* container css */
hr{
    border:1px solid #FFD900;
}
table{
    word-break: break-all;
    padding-top: 20px;
    padding-bottom: 15px;
}
.container{
    max-width: 80vw;
    margin: auto;
}
.topic-2{
    margin: auto;
    margin-bottom: 20px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.pic{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.pic img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 20px;
}
.card2{
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 15px;
    background-color: #4B5066;
    width: 70vw;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
}
.w-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 100px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}
.w-content {
    width: 20vw;
    min-width: 200px;
    padding-bottom: 10px;
}
.table2 td{
    padding-bottom: 20px;
}
.intro2{
    width: 50vw;
    flex-wrap: wrap;
}
.back{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-bottom: 30px;
}
.back-btn{
    width: 8vw;
    height: 30px;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    color: black;
}