*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}
/***** Header START *****/
header{
    width: 100%;
    align-content:flex-end;
    background-color: #F8F8F8;
    height: 70px;
    padding: 0px 13px 0px 13px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
    margin-bottom: 40px;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
    margin-left: 3vw;
}

/* Logo */
.top img{
    width: 8vw;
    position: relative;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #4C5567;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: #4C5567;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #e2e2e2;
    box-shadow:black 2px 2px 3px;
    
}

/***** Header END *****/

/* container css */
hr{
    border:1px solid #FFD900;
}
table{
    word-break: break-all;
    padding-top: 20px;
    padding-bottom: 15px;
}
.container{
    max-width: 80vw;
    margin: auto;
}
.topic-3{
    margin: auto;
    margin-bottom: 20px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.pic{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.pic img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 20px;
}
.card2{
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 15px;
    background-color: #e5eef3;
    width: 70vw;
    box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px;
}
.w-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 100px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}
.w-content {
    width: 20vw;
    min-width: 200px;
    padding-bottom: 10px;
}
.table2 td{
    padding-bottom: 20px;
}
.intro2{
    width: 50vw;
    flex-wrap: wrap;
}
.back{
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-bottom: 30px;
}
.back-btn{
    width: 8vw;
    height: 30px;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
}