*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:#0A1C2F;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #F8F8F8;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #F8F8F8;
    height: 70px;
    padding: 0px 13px 0px 13px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
    margin-left: 3vw;
}

/* Logo */
.top img{
    width: 8vw;
    position: relative;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #4C5567;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: #4C5567;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #e2e2e2;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}
.header-r text{
    padding-right: 20px;
}
.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}

/***** Header END *****/

.container{
    max-width: 100vw;
}
/* page1 */
.bg{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
    opacity: 0.3;
}
.word{
    color:#0A1C30;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 170px;
}
.line{
    width: 18vw;
    border-bottom: 4px solid #FFD900;
}
.sentence{
    margin-top: 20px;
    margin-left: 3vw ;
    font-size: 25px;
    
}
.topic-3{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}

/* page2 */
.page2{
    width: 100%;
    height: 100vh;
    background-color:#F8F8F8 ;
    padding-top: 10px;
    position: absolute;
}
.bg2{
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    top:0px;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: -999; */
}

/* page3 */
.page3{
    width: 100%;
    height: 100vh;
    background-color: #e5eef3;
    padding-top: 10px;
    position: relative;
    top: 0px;
}

/* page4 */
.page4{
    height: 100vh;
    padding-top: 10px;
}

