* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color: #4A5065;
}

body {
    background-color: #F4F9FC;
}

.wrap {
    width: 100%;
    height: 100vh;
}

/***** Header START *****/
header{
    width: 100%;
    align-content:flex-end;
    background-color: #F8F8F8;
    height: 70px;
    padding: 0px 13px 0px 13px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
    margin-bottom: 40px;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
    margin-left: 3vw;
}

/* Logo */
.top img{
    width: 8vw;
    position: relative;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: #4C5567;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: #4C5567;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #e2e2e2;
    box-shadow:black 2px 2px 3px;
    
}

/***** Header END *****/


/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 30px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.top-btn {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
}

.edit-btn, .del-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    float: right;
}

.edit-btn:after, .del-btn:after {
    display: block;
    padding-bottom: 100%;
}

.edit-btn img, .del-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.personal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    background-color: #e5eef3;
}

.person-image {
    display: block;
    width: 200px;
    height: 200px;
    margin: 50px 30px 50px 30px;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.personal .w-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 100px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}

.personal .w-content {
    width: 15vw;
    min-width: 200px;
    padding-bottom: 10px;
}

.bottom-btn {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
    padding-bottom: 30px;
}

.back {
    width: 80px;
    height: 30px;
    background-color: #FFD900;
    border: 0px;
}


/***** Container END *****/
