*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
}
li{
    list-style: none;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #393F4D;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
}

/***** Header END *****/

.container{
    max-width: 100vw;
}
/* page1 */

.bg{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
    opacity: 0.2;
}
.word{
    color:rgb(255, 255, 255);
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 8vw;
}
.line{
    width: 18vw;
    border-bottom: 4px solid #FFD900;
}
.sentence{
    margin-top: 20px;
    margin-left: 3vw ;
    font-size: 25px;
}
.right{
    position: absolute;
    top:72px;
    right:0;
    width: 60vw;
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    
    color: white;
    width: 25vw;
    /* height: 420px; */
    background-color: #4A5065;
    border-radius: 9px ;
    padding: 1vw;
    margin-bottom: 10vh;

}
.login-title{
    border-bottom: 2px solid #FFD900;
    line-height: 6vh;
    height: 6vh;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.login-key{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.login-row{
    margin-top:3vh;
}
form input::placeholder{
    color: #f8f8f870;
}
form input{
    width: 15vw;
    max-width: 350px;
    font-size:18px;
    border: 0px solid rgb(219, 219, 219);
    border-radius: 4px ;
    padding: 5px;
    background-color:  #5F6573;
    color: #f8f8f8;
}
.btn{
    border: 0;
    border-radius: 0;
    width: 12vw;
    max-width: 200px;
    background-color: #FFD900;
    color: #393F4D;
}
.or{
    margin: auto;
    margin-top: 20px;
    /* width: 20vw; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#f8f8f870;
}
.line-1{
    width: 9vw;
}
.line-1 hr{
    border: 1px solid #f8f8f870;
}
.btn2{
    border: 0;
    border-radius: 0;
    width: 12vw;
    max-width: 200px;
    background-color: #f8f8f8;
    color: #393F4D;
}

/* page2 */
.topic-3{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px; 
    width:17vw;
    height:65px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
    color: white;
}
.page2{
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.professor{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.photo{
    width: 25vw;
}
.intro{
    line-height: 45px;
    font-size: 20px;
    width: 40vw;
    margin-left: 5vw;
    color: white;
}
.big{
    font-size: 35px;
    line-height: 50px;
}

/* page3 */
.page3{
    width: 100%;
    height: 100vh;
    background-color: #4B5066;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.studies{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
}
.card{
    margin-bottom: 50px;
    width: 14vw;
    height: 14vw;
    margin-left:0.5vw ;
    margin-right:1vw ;
    background-color: #0A1C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.card2{
    margin-bottom: 50px;
    width: 14vw;
    height: 14vw;
    margin-left:0.5vw ;
    margin-right:1vw ;
    background-color: #0A1C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 16.5vw;
}
.card img{
    width: 8vw;
    margin-bottom: 10px;
}
.card2 img{
    width: 8vw;
    margin-bottom: 10px;
}


/* page4 */
.page4{
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.content-group{
    margin-left:3vw;
}
.panel-group{
    display: inline-flex;

}
.panel-control {
    position:absolute;
    opacity:0;
}
.tab-group{
    width:13vw;
    height: 200px;
}
.tab-group label {
    background-color: #5F6573;
    display:inline-flex;
    width: 13vw;
    height: 50px;
    justify-content:center;
    align-items:center;
    /* bottom:-1px; */
    position:relative;
    font-size: 16px;
    color: white;
}
.content{
    display:none;
    width: 70vw;
}
#radio_s:checked ~ .tab-group [for="radio_s"],
#radio_r:checked ~ .tab-group [for="radio_r"]
{
    background-color: #FFD900;
    font-weight: bold;
    color: black;
}
#radio_s:checked ~ .content-group .content_s,
#radio_r:checked ~ .content-group .content_r
{
    display:block; 
}

.session{
    /* border: 1px solid #d6d6d6; */
    border-radius: 9px ;
    margin-bottom: 20px;
    color: white;
}
.people-title{
    background-color: #5F6573;
    border-radius: 9px 9px 0px 0px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.people{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #4B5066;
    border-radius: 0px 0px 9px 9px;
}
.person{
    margin:1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-image {
    display: block;
    width: 10vw;
    height: 10vw;
    min-width: 6vw;
    min-height: 6vw;
    max-width: 13vw;
    max-height: 13vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



