*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, 
        Arial, STHeitiTC-light, STHeiti, 
        "Microsoft JhengHei", 微軟正黑體, sans-serif;
}
.wrapper{
    width: 100%;
	height: 100%;
}
header{
    background-color: white;
    width:100%;
    box-shadow:#cccc 0px 0px 4px 0px ;
}
header li{
    width: 150px;
}
.header-r{
    display: flex;
    justify-content: right;
}
.container{
    width:1000px;
}
.register{
    background-color:#DCE0E4 ;
    width: 800px;

}
.register-btn{
    background-color: #FFD900;
}